<% if signed_in? %>
  <div class="row">
    <aside class="span4">
      <section>
        <%= render 'shared/user_info' %>
      </section>
      <section>
        <%= render 'shared/micropost_form' %>
      </section>
    </aside>
  </div>
	<div class="row">
	<div class="span8">
		<% if current_user.microposts.any? %>
	  	<h3>Microposts (<%= current_user.microposts.count %>)</h3>
	    <table class="table table-striped">
				<tr>
					<td class="micropost">
						<h3>Artist</h3>
					</td>
					<td class="micropost">
						<h3>Track</h3>
					</td>
					<td class="miropost">
						<h3>Posted</h3>
					</td>
					<td class="miropost">
						<h3>iTunes?</h3>
					</td>
				</tr>
				<tr><%= render @microposts %></tr>
	    </table>
		<%= will_paginate @microposts %>
	  <% end %>
	</div>
	</div>
<% else %>
  <div class="center hero-unit">
    <h1>Welcome to the Music App</h1>

    <h2>
      This is the home page for the
      <a href="http://railstutorial.org/">Ruby on Rails Tutorial</a>
      sample application.
    </h2>

    <%= link_to "Sign up now!", signup_path, 
                                class: "btn btn-large btn-primary" %>
  </div>

  <%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %>
<% end %>