<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
  </aside>
	<div class="span8">
		<% if @user.microposts.any? %>
	  	<h3>Microposts (<%= @user.microposts.count %>)</h3>
	    <table class="table table-striped">
				<tr>
					<td class="micropost">
						<h3>Artist</h3>
					</td>
					<td class="micropost">
						<h3>Track</h3>
					</td>
					<td class="miropost">
						<h3>Posted</h3>
					</td>
					<td class="miropost">
						<h3>iTunes?</h3>
					</td>
				</tr>
				<tr><%= render @microposts %></tr>
	    <%= will_paginate @microposts %>
	  <% end %>
	</div>
</div>