<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
    <section class="userinfo">
      <%= render 'shared/user_info' %>
    </section>
  </aside>
	<div class="span6 offset2">
		<h3>Artists</h3>
		<br />
		<table class="table table-striped artistinterests">
			<tr><%= render :partial => 'users/interests/artist_interest', :collection => @artist_interests, :as => :artist_interest %></tr>
		</table>
	</div>
</div>
<div class="row">
	<div class="span12 hometracks">
		<% if @user.tracks.any? %>
	  	<br />
			<h3>Tracks (<%= @user.tracks.count %>)</h3>
			<br />
	    <table class="table table-striped trackinterests">
				<tr>
					<td class="track">
						<h3>Artist</h3>
					</td>
					<td class="track">
						<h3>Track</h3>
					</td>
					<td class="miropost">
						<h3>Posted</h3>
					</td>
					<td class="miropost">
						<h3>Availability</h3>
					</td>
					<td class="miropost">
						<h3>Who else is tracking this?</h3>
					</td>
				</tr>
				<tr><%= render :partial => 'users/interests/track_interest', :collection => @track_interests, :as => :track_interest %></tr>
	    </table>
		<%= will_paginate @track_interests %>
	  <% end %>
	</div>
</div>
