<a href="<%= user_path(@user) %>">
  <%= gravatar_for @user, size: 52 %>
</a>
<h1><%= @user.name %></h1>
<span>
  <%= link_to "view my profile", @user %>
</span>
<span>
  <%= pluralize(@user.tracks.count, "track") %>
</span>
<span>
  <% if @user.has_bookmarklet_token? then %>
  <%  %>
    Your bookmarklet:
    <%=  render "shared/bookmarklet_link", :user => @user %>
  <% else %>
    You haven't created a bookmarklet yet!
    <%= link_to "Do it! Now!", new_bookmarklet_path %>
  <% end %>
</span>
