<%= provide(:title, 'My Bookmarklet') %>
<h1>My Bookmarklet</h1>

<p>
  Just drag & drop your bookmarklet to your browser bar and track music by dragging links onto it.
  It is as simple as that!
</p>

<a href="javascript:(function(d){var%20s=d.createElement('script'),h=d.head||d.getElementsByTagName('head')[0];s.id='qusic-script';s.setAttribute('data-qusic-token','<%=@user.bookmarklet_token %>');s.src='http://<%= request.host_with_port %>/assets/qusic.js<%= Rails.env.production? ? "'" : "?t='+ (new Date()).getTime()"%>;h.appendChild(s);})(document);" class="">Bookmarklet</a>

<p>
  Your bookmarklet token is:
  <pre><%= @user.bookmarklet_token %></pre>
</p>
