<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4 well drop-shadow">
    <section class="userinfo">
      <%= render 'shared/user_info' %>
    </section>
    <section>
      <%= render 'shared/track_form' %>
    </section>
  </aside>
	<div class="span7 artistinterests well drop-shadow">
		<h3>Artists</h3>
		<br />
		<table class="table artistintereststable">
			<tr><%= render :partial => 'users/interests/artist_interest', :collection => @artist_interests, :as => :artist_interest %></tr>
		</table>

	</div>
</div>
<div class="row">
  <div class="span12 trackinterests well drop-shadow">
    <% if @user.tracks.any? %>
      <h3>Tracks (<%= @user.tracks.count %>)</h3>
      <table class="table trackintereststable">
        <tr>
          <td class="track">
            <h3>Artist</h3>
          </td>
          <td class="track">
            <h3>Track</h3>
          </td>
          <td class="miropost">
            <h3>Posted</h3>
          </td>
          <td class="miropost">
            <h3>Availability</h3>
          </td>
          <td class="miropost">
            <h3>Who else is tracking this?</h3>
          </td>
        </tr>
        <tr><%= render :partial => 'track_interest', :collection => @track_interests, :as => :track_interest %></tr>
      </table>
      <%= will_paginate @track_interests %>
    <% end %>
  </div>
</div>
