<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span5">
      <%= render 'shared/user_info' %>
  </aside>
</div>
<div class="row">
  <div class="span12 ">
    <div class="well drop-shadow">
      <h1 class="whatdoesitdo">Qusic tracks the music you love & tells you when it's released</h1>
      <br/>
      <h2 class="togetstarted">To get started go to 'Track something here'</h2>
    </div>
  </div>
</div>
<div class="row">
  <div class="span4">
    <div class="well drop-shadow track_form">
      <h2 class="trackformtitle">Track something here</h2>
      <p>
        <%= link_to 'How do I track an artist?', '#', rel: "popover", :"data-title" => "How do I track an artist?", :"data-content" => render(:partial => 'shared/how_do_I_track_an_artist'), class: "popoverhiw" %>
        <br/>
        <%= link_to 'How do I track a song?', '#', rel: "popover", :"data-title" => "How do I track a song?", :"data-content" => render(:partial => 'shared/how_do_I_track_a_song'), class: "popoverhiw" %>
      </p>
      <%= render 'shared/track_form' %>
    </div>
  </div>
  <div class="span8">
    <%= render 'artist_table' %>
  </div>
</div>
<div class="row">
  <div class="span12">
    <%=  render 'track_table' %>
  </div>
</div>
