	<tr>
		<td><%= micropost.artist %></td>
		<td><%= micropost.track %></td>
		<td><%= time_ago_in_words(micropost.created_at) %></td>
		<td class="micropost">
			<span class="itunes">
				<% if micropost.itunes_info.present? %>
					<%= link_to "Available now", micropost.itunes_info["trackViewUrl"], target: '_blank' %>
				<% else %>
					Tracked!
				<% end %>
			</span>
		</td>
		<td>
			You're the <%= Micropost.where(artist: micropost.artist, track: micropost.track).all(conditions: ["created_at <= ?", micropost.created_at]).count.ordinalize %>
			 of
			<%= Micropost.where(artist: micropost.artist, track: micropost.track).count %> 
			people to track this song!
		</td>
		<% if current_user?(micropost.user) %>
		    <td><%= link_to "delete", micropost, method:  :delete,
		                                     confirm: "You sure?"%>
				</td>
		<% end %>
	</tr>