
	<tr>
		<td><%= micropost.artist %></td>
		<td><%= micropost.track %></td>
		<td><%= time_ago_in_words(micropost.created_at) %></td>
		<td class="micropost">
			<span class="itunes">
				<% if micropost.itunes_info.present? %>
					<%= micropost.itunes_info["trackPrice"] %>
				<% else %>
					Not Available
				<% end %>
			</span>
		</td>
		<% if current_user?(micropost.user) %>
		    <td><%= link_to "delete", micropost, method:  :delete,
		                                     confirm: "You sure?"%>
				</td>
		<% end %>
	</tr>