	<tr>
		<td><%= micropost.artist %></td>
		<td><%= micropost.track %></td>
		<td><%= time_ago_in_words(micropost.created_at) %></td>
		<td class="micropost">
			<span class="itunes">
				<% if micropost.itunes_info.present? && micropost.spotify_sinfo.present? %>
					Available on <%= link_to "iTunes", micropost.itunes_info["trackViewUrl"], target: '_blank' %> & <%= link_to "Spotify", "http://open.spotify.com/track/#{micropost.spotify_sinfo.href.split("track:")[1]}", target: '_blank' %>.
				<% elsif micropost.itunes_info.present? %>
					Available on <%= link_to "iTunes", micropost.itunes_info["trackViewUrl"], target: '_blank' %> & tracked on Spotify.
				<% elsif micropost.spotify_sinfo.present? %>
					Available on <%= link_to "Spotify", "http://open.spotify.com/track/#{micropost.spotify_sinfo.href.split("track:")[1]}", target: '_blank' %> & tracked on iTunes.
				<% else %>
					We'll tell you as soon as it's out!
				<% end %>
			</span>
		</td>
		<td>
			<% if Micropost.where(artist: micropost.artist, track: micropost.track).count == Micropost.where(artist: micropost.artist, track: micropost.track).all(conditions: ["created_at <= ?", micropost.created_at]).count %>
				You're the <%= Micropost.where(artist: micropost.artist, track: micropost.track).all(conditions: ["created_at <= ?", micropost.created_at]).count.ordinalize %> tracker of this song!
			<% else %> 
				You were the <%= Micropost.where(artist: micropost.artist, track: micropost.track).all(conditions: ["created_at <= ?", micropost.created_at]).count.ordinalize %>
				of
				<%= Micropost.where(artist: micropost.artist, track: micropost.track).count %> 
				trackers!
			<% end %>
		</td>
		<% if current_user?(micropost.user) %>
		    <td><%= link_to "delete", micropost, method:  :delete,
		                                     confirm: "You sure?"%>
				</td>
		<% end %>
	</tr>